<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for funding <%= @user.username %></h1>
    <p>
      Here is your recipt, have a good day
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
