<h1>Wishlists</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Proyect</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.proyect_id %></td>
        <td><%= link_to 'Show', wishlist %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>