<div id = "notice" class="alert alert-success" role="alert"><%= notice %></div>

<style>
p {
text-align: left;
text-color: white;
font-size: medium;
}

</style>
<p>
  <strong>Proyect:</strong>
  <%= @wishlist.proyect_id %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
