

<h1>Promises</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Include</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <% @promises.each do |promise| %>
          <tr>
            <td><%= promise.amount %></td>
            <td><%= promise.include %></td>
            <td><%= link_to 'Show', promise %></td>
          </tr>
        <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promise', new_promise_path %>
